.text-bold{
   font-weight: bold;
}

.message{
   background-color: $color-tertiaire;
   color:$color-tertiaire-sombre;
   position: absolute;
   top: 0;
   right: 0;
   margin-top:20px;
   margin-right:15px ;
   padding:nth($padding-margin,1);
   border-radius: 3px;
   font-weight: bold;
} 


/**Liens cliquables  coeur*/
/**cacher le coeur rose*/

.coeur{
   cursor: pointer;
   &__rempli{                                           
      display: none ;
   }

   &:hover {
      .coeur__rempli{
         display:block ;
         background: linear-gradient($color-primaire,$color-secondaire);
         background: -webkit-linear-gradient($color-primaire,$color-secondaire);        
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         transform: scale(1.14);
      }
      .coeur__cadre{
      display:none ;
      }
   }
}