$header-bg:red;
$header-bg2:green;

/**Couleurs*/

$color-primaire:#9356dc;
$color-secondaire:#FF79DA;
$color-tertiaire:#99E2D0;
$color-bg-primaire:#f2f2f2;
$color-bg-secondaire:#c2c2c2;
$color-white:#fff;

/**Padding et marging a utilisé dans le site*/
$padding-margin: 0.5em 1em 1.5em 2em 2.5em 3em ;


/**Flex*/
