@charset "UTF-8";
/**Couleurs*/
/**Padding et marging a utilisé dans le site*/
/**Flex*/
.text-bold {
  font-weight: bold;
}

/** Chargement style global*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', Courier, monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1rem;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  font-size: 1.7rem;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

i.fas,
i.far {
  color: gray;
}

/**Style coeur*/
i.far {
  font-size: 1.6rem;
}

/** Chargement style Components*/
.btn-reservation {
  background-color: #FF79DA;
  color: #ffffff;
  height: 45px;
  border-radius: 50px;
  min-width: 200px;
  margin-top: 2.5em;
}

.bloc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloc-list li {
  position: relative;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  padding-right: 3em;
  border-radius: 20px;
  list-style-type: none;
  width: 100%;
  margin-bottom: 1.5em;
}

.bloc-list li i {
  margin-right: 1em;
  margin-left: 2em;
}

.bloc-list .badge {
  position: absolute;
  left: -15px;
}

.badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  background-color: #9356dc;
  color: #ffffff;
  border-radius: 50%;
}

.bloc-card {
  position: relative;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  margin-bottom: 1.5em;
}

.bloc-card__header img {
  height: 180px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.bloc-card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5em;
  padding-left: 1em;
}

.bloc-card__text i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/**Positionnement :text-coeur*/
.message {
  background-color: #99E2D0;
  color: green;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 15px;
  padding: 0.5em;
  border-radius: 3px;
  font-weight: bold;
}

.far:hover {
  background-color: #FF79DA;
}

/** Chargement style layouts*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}

.container {
  background-color: #f2f2f2;
  padding: 1.5em;
}

/**Section :Geolocalisation*/
.acceuil-geolocalisation {
  background-color: #c2c2c2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /** Si on a n'a pas besoin de flex direction cet attribut ne dois pas etre affiché*/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /** si le pramettre  $justify-content égale à 0 >> on utilise pas l'attribut justify-content */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.acceuil-geolocalisation__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /** Si on a n'a pas besoin de flex direction cet attribut ne dois pas etre affiché*/
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /** si le pramettre  $justify-content égale à 0 >> on utilise pas l'attribut justify-content */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
}

.acceuil-geolocalisation__preview i {
  margin-right: 1em;
}

/**Section :Fonctionnement*/
.acceuil-fonctionnement {
  padding: 2em;
  padding-right: 1.5em;
}

/**Section :Reservation*/
.acceuil-reservation {
  padding: 2em;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  text-align: center;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /** Si on a n'a pas besoin de flex direction cet attribut ne dois pas etre affiché*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /** si le pramettre  $justify-content égale à 0 >> on utilise pas l'attribut justify-content */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/**Section :Restaurants*/
.container-bloc {
  margin-top: 2em;
  padding-bottom: 2em;
}

.container-bloc h1 {
  padding-top: 1.5em;
}

.footer {
  background-color: black;
  color: #ffffff;
  padding: 1.5em;
}

.footer__titre {
  font-family: 'Shrikhand';
  margin-bottom: 1em;
  font-size: 1.8rem;
}

.footer i {
  margin-right: 1em;
  color: #ffffff;
}

.footer i.fa-hands-helping {
  font-size: 13px;
}

.footer li {
  list-style-type: none;
  margin-bottom: 1em;
}

.footer li a {
  text-decoration: none;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */