

.btn-reservation{
   background: linear-gradient(180deg,$color-secondaire,$color-primaire);
   box-shadow: 1px 2px 10px 1px rgb(192, 192, 192);
   color:$color-white;
   font-size:$font-size-title ;
   border-radius: 50px;
   width: 80%;
   margin-top: nth($padding-margin,5);
   padding: nth($padding-margin,2);
   border: none;
}