.bloc-card{
   position:relative;
   background-color: $color-white;
   display: flex;
   flex-direction: column;
   border-radius: 20px;
   margin-bottom: nth($padding-margin,3);
   box-shadow:0px 3px 5px 2px rgb(220, 220, 220);
   &:hover{
      box-shadow: 1px 3px 10px 1px rgb(65, 35, 56);     
   }
   @include tablette{
      flex:1;                    /**ou bien width:100%*/
   }

   &__header{     
         img{
         height: 180px;
         width: 100%;
         border-top-left-radius: 20px;
         border-top-right-radius:20px;  
      }
   }

   &__text{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding:nth($padding-margin,2);
      padding-left: nth($padding-margin,2);    
         
   }
}
.container-restaurant{
   @include tablette{
      display: flex;
      flex-direction: row;
      gap: nth($padding-margin,3);
   };   
}

      /**Positionnement :text-coeur*/



.main-menu{
   background-color: $color-bg-primaire;
}

/**image menu delice page 2*/

.plat-image{
   width: 100%;
   height:335px;
   
}
.container-menu{
   background-color: $color-bg-primaire;
   padding-top:nth($padding-margin,3);
   padding-right:nth($padding-margin,2);
   padding-left:nth($padding-margin,2);
   padding-bottom:nth($padding-margin,2);
   border-top-right-radius: 40px;
   border-top-left-radius: 40px;
   
   position: relative;                
   width: 100%;                       
   top:-60px;
      &__text{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right:nth($padding-margin,3) ;
   }
}

.cout-style{
   font-weight: bold;
}
.nom-menu{
   font-family: 'Shrikhand';
}
.titre-font{
   font-family: 'Shrikhand';
}


.menus{
      
   @include tablette{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   };

   /** class menus__blocs */
   &__blocs{
      margin-top:nth($padding-margin,5); 
      &:first-child{
         margin-top: 0;
      }
     

       /** fin animation */

       /* tablet et desktop */
      @include tablette{
         width:32%;
         margin-top: 0px;
      };      
   }
     
    /** class menus__titre */
   &__titre{
      margin-bottom: 6px;     
   }
    /** class menus__separateur */
   &__separateur{
      border-bottom:3px solid $color-tertiaire;
      margin-bottom: nth($padding-margin,2);
      width: 45px;
   }
   /** class menus__plat */
   &__plat{
      position: relative;
      margin-bottom: nth($padding-margin,2);
      background-color: $color-white;
      border-radius: 20px;
      box-shadow: 1px 2px 10px 1px rgb(192, 192, 192);
      display: flex;
      align-items: center;
      flex-direction: row;
      height: 90px;
      width: 100%;
       /** animation */
       animation: menu 2s ease-in-out both ; 
       @keyframes menu {
          from {
             opacity:0;
             margin-top: 25px;
         }
         to {
             opacity:1;
             margin-top: 0px;
         }
       }
       
       @for $i from 1 through 20 {
          &--#{$i} {
              animation-delay:  $i*0.5 + s;
          }           
       }
      
      
      &:hover{
         cursor: pointer;
         .menus__plat--item{
            width: 65%;
         }
         .menus__plat--cout{
            width: 15%;
         }
         .menus__plat--check{
            transition: width 500ms;
            width: 20%;
         }
         .fa-check-circle{           
            animation: rotating 500ms;
         }

         @keyframes rotating{
            from{
               transform:rotate(0deg);
            }
            to{
               transform:rotate(360deg);
            }
         }
      }

      &--item{
         padding:nth($padding-margin,2);
         width: 82%;
         h2,
         p{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
         }         
      }

      /** class menus__plat__cout */
      &--cout{
         display: flex;
         flex-direction: column;
         justify-content: end; 
         text-align: center;
         font-weight: bold;
         width: 18%; 
         margin-top: 36px;
      }

      /** class menus__plat__check */
      .menus__plat--check{   
         display: flex;      
         justify-content: center;
         align-items: center;
         position: absolute;
         right: 0;
         background-color: $color-tertiaire;         
         height: 100%;
         width: 0px;
         border-top-right-radius: 20px;
         border-bottom-right-radius: 20px; 
         overflow: hidden;  
         transition: 500ms;
         .fa-check-circle{
            font-size: 2rem;
            color:white !important;           
         }         
      }
   }
}

  

  






