.loading{
    /**Animation:appraition 1ere page*/
    background:#FFFFFF;
    height: 100vh;            
    width: 100%;   
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 1;
    animation-name:loading;
    animation-duration:1s; 
    animation-timing-function:ease-in-out; 
    animation-delay :2s;
    animation-iteration-count:1;
    animation-direction:normal;
    animation-fill-mode:forwards;
    display: flex;
    justify-content: center;
    align-items: center;
   
    @keyframes loading {
        0%{
            opacity: 1;
        }
        50%{
            opacity:0.5;
        }
        100%{
            opacity:0;
            transform:scale(0);
            height: 0;
            
        }
    }
       /**Conception spinner*/
    &__container{
        height: 180px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }
     /**Animation ohmyfood*/
    .letter{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 2rem;
        font-family:$font-family-secondaire;
        color: $color-primaire;
        

        &__loader{
            animation: letters 1s linear infinite ;

        @for $i from 1 through 8 {
            &--#{$i} {
                animation-delay:  $i / 10 + s;
            }           
        }

        @keyframes letters {
            0% {
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
            75% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
    }
}

    .spinner{        
        height: 7em;
        width: 7em;
        border-radius: 50%;
        border:8px solid lighten($color-primaire,30%);  
        border-top: 8px solid $color-primaire;             
        animation: spinner 1.1s infinite linear;
        @keyframes spinner {
            0%{
                transform:rotate(0deg);
            }
            100%{
                transform:rotate(360deg);
               
            }
        }
    }
}