@keyframes loading-bg {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0;
        transform: scale(1);
    }

    100% {
        transform: scale(0);
        opacity: 0;
        height: 0;
    }
}


@keyframes flash {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}




.loading{
    background-color: white;
    width: 100%;
    opacity: 1;
    z-index: 100; 
    height: 100vh;
    animation: loading-bg 1s ease-in-out 3s 1 normal forwards;

    &__content{
        position: absolute;
        top: calc(40% - 80px);
        left:calc(50% - 100px);
        width:200px;
        height: 160px;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
        &__letter{  
            .letter{                
                font-size: 1.5rem;
                font-family: "Shrikhand", "Sans serif";
                animation: flash 1s linear infinite;
                text-shadow: 0 0 .1rem $color-secondaire;   
                
                @for $var from 1 to 9 {
                    &:nth-child(#{$var}){
                        animation-delay: $var / 10 + s; 
                        color: $color-secondaire;
                    }
                }
            }
        }

        &__spinner{
            width: 120px;
            height: 120px;           
            border-radius: 50%;
            border: 8px solid rgba($color: #9356dc, $alpha: 0.2);
            animation: spin 1s linear infinite;        
        }
    }
}