
.container{
   background-color:$color-bg-primaire;
   padding: nth($padding-margin,3);
}

/**Section :Geolocalisation*/

.acceuil-geolocalisation{
   background-color:lighten($color-icone, 90%);
   
   border-top: 2px solid lighten($color-icone, 80%);

   @include flex (row, center, 0);
     &__preview{
      @include flex (row, 0, center);
      height: 45px;
      & i{
         margin-right: 1em;
      }
   }
}

/**Section :Fonctionnement*/
.acceuil-fonctionnement{
   padding: nth($padding-margin,4);
   padding-right: nth($padding-margin,3);
}

/**Section :Reservation*/

.acceuil-reservation{
   padding: nth($padding-margin,4);
   padding-top: nth($padding-margin,5);
   padding-bottom: nth($padding-margin,5);
   text-align: center;
   background-color:$color-bg-primaire;
   @include flex (column, center, center);
   &__sous-titre{
      margin-bottom: nth($padding-margin,5);
   }

}


/**Section :Restaurants*/


.container-bloc{
   margin-top: nth($padding-margin,4);
   padding-bottom: nth($padding-margin,4);
  
}
/*********************************************************************/


   

