.container{
   background-color:$color-bg-primaire;
   padding: nth($padding-margin,3);
}

/**Section :Geolocalisation*/
.acceuil-geolocalisation{   
   background-color:lighten($color-icone, 90%);
   box-shadow: inset 0px 4px 4px -2px rgba(0,0,0,0.40);
   @include flex (row, center, 0);
     &__preview{      
      @include flex (row, 0, center);
      height: 45px;
      i{
         margin-right: 1em;
      }
      input{
         background-color:transparent;
         border:0px;
      }
   }   
}

/**Section :Fonctionnement*/
.acceuil-fonctionnement{
   padding: nth($padding-margin,4);
   padding-right: nth($padding-margin,3);
}

/**Section :Reservation*/

.acceuil-reservation{
   padding: nth($padding-margin,4);
   padding-top: nth($padding-margin,5);
   padding-bottom: nth($padding-margin,5);
   text-align: center;
   background-color:$color-bg-primaire;
   @include flex (column, center, center);
   &__sous-titre{
      margin-bottom: nth($padding-margin,5);
   }
   @include tablette(desktop){
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      padding-left :15%;
      padding-right: 15%;
      align-items: center
   };  
}
/**Section :Restaurants*/
.container-bloc{
   margin-top: nth($padding-margin,4);
   padding-bottom: nth($padding-margin,4);  
}